.navbar {
    position: relative;
    opacity: 0.9;
}
.brand {
    position: absolute;
    left: 50%;
    margin-left: -50px !important;  /* 50% of your logo width */
    display: block;
    img {
      height: 50px;
    }
}


a.log-off, a.log-in {
  margin-left: 2px;
}


main[role="main"] {
  margin-top: 60px;
}
