<p>Olá <%= @resource.email %>!</p>

<p>Alguém pediu uma alteração de senha para sua conta. Você pode alterar a senha clicando no link abaixo.</p>

<p><%= link_to 'Mudar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>
